# Backend environment variables
# Copy this file to `.env` and adjust as needed.

# Port the NestJS server will listen on
PORT=3000

# MySQL connection (used by TypeORM)
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

FRONTEND_URL=https://portofoliov1-flax.vercel.app/